@page
@model ProyectoCiclo3.App.Frontend.Pages.FormAvionesModel
@{
}

<div class="text-center">
    <form method="POST">
        <label for="id" class="form-label">Id:</label>
        <input type="number" class="form-control" id="id" name="id" required placeholder="id">

        <label for="marca" class="form-label">Marca:</label>
        <input type="text" class="form-control" id="marca" name="marca" required placeholder="marca">
            
        <label for="modelo" class="form-label">Modelo:</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required placeholder="modelo">      
        
        <label for="numero_asientos" class="form-label">numero_asientos:</label>
        <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" required placeholder="numero_asientos">

        <label for="numero_baños" class="form-label">numero_baños:</label>
        <input type="number" class="form-control" id="numero_baños" name="numero_baños" required placeholder="numero_baños">

        <label for="capacidad" class="form-label">capacidad:</label>
        <input type="number" class="form-control" id="capacidad" name="capacidad" required placeholder="capacidad">
        <hr>
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>