@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">N° asientos</th>
      <th scope="col">N° baños</th>
      <th scope="col">Capa. Max Peso</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Boing</td>
      <td>737 Max</td>
      <td>132</td>
      <td>5</td>
      <td>72.303 Kg</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Airbus</td>
      <td>A380</td>
      <td>480</td>
      <td>10</td>
      <td>570 Ton</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Airbus</td>
      <td>A318-111</td>
      <td>224</td>
      <td>7</td>
      <td>54.500 Kg</td>
    </tr>
  </tbody>
</table>
