@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">destino</th>
      <th scope="col">Tiempo estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Bogota</td>
      <td>Barranquila</td>
      <td>45 min</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Pereira</td>
      <td>Valledupar</td>
      <td>90 min</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Bogota</td>
      <td>Riohacha</td>
      <td>90 min</td>
    </tr>
  </tbody>
</table>
